<div class="section">
    <div class="item" id="1">
        <p class="info-disc">
            E-mail :<br/> yuns0316@gmail.com<br/><br/>
            Phone :<br/> +82 10 2023 3808<br/><br/>
            Instagram :<br/> https://www.instagram.com/dbstjwls58<br/><br/>
            Blog :<br/> https://blog.naver.com/dbstjwls58
        </p>
    </div>
    <div class="item" id="2">
        <p class="info-disc">
            Interested in...<br/>
            Communication / Code / Cooking<br/>
            Fashion / Climbing / Piano
        </p>
    </div>
</div>

<script src="./components/info/info.js"></script>
