<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    Semi-Project
                </div>
                <div class="btn-empty">

                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                TravelMaker<br/>
                여행에 미치다
            </div>
            <div class="disc">
              <div class="image-box">
                  <img src="./images/그림1.png" alt="">
              </div>
              Work-Life-Balance(일과 휴식) 용어가 자주 언급되면서 여행을 포함한 다양한 활동을 즐기는 젊은층들이 늘어나고 있습니다.
              저희는 여행에 초점을 맞추어 사용자 간 원하는 정보들을 공유하고 소통할 수 있는 커뮤니티 공간을 제작였습니다.
              <br/>

              <br><br>
                 <br>
                <br/><br/>
                <div class="image-box">
                    <img src="./images/그림2.png" alt="">
                </div>
                <div class="image-box">
                    <img src="./images/그림3.jpg" alt="">
                </div>
                화면 설계를 위해 타 사이트 Instagram과 naver카페를 벤치마킹 하였습니다.
                <br><br>
                <div class="image-box">
                    <img src="./images/그림6.png" alt="">
                </div>
                <ul><li>회원가입</li></ul>
                Ajax를 이용한 아이디 중복확인 기능, 자바스크립트를 이용한 Password 일치 기능, Daum 주소 API를 활용한 저장기능을 구현하였습니다.
                <br><br>
                <div class="image-box">
                    <img src="./images/그림7.png" alt="">
                </div>
                <ul><li>로그인</li></ul>
                회원가입을 하지 않고도 빠르고 쉽게 로그인을 할 수 있도록 구글, 페이스북을 연동한 로그인 기능을 구현하였습니다.
                <br><br>
                <div class="image-box">
                    <img src="./images/그림4.png" alt="">
                </div>
                <ul><li>게시판</li></ul>
                Instagram의 뉴스피드와 유사한 UI를 보이며 게시글을 작성할 수 있고 다른 사용자가 업로드 한 게시글을 볼 수 있도록 하였습니다.
                인기게시물 Best3을 동시에 볼 수 있고 상단부분에 게시글 검색기능을 구현 하였습니다.
                <br><br>
                <div class="image-box">
                    <img src="./images/그림5.png" alt="">
                </div>
                <ul><li>상세보기</li></ul>
                게시글을 선택하여 디테일 정보를 볼 수 있는 페이지로 게시글 작성자가 아닐시에는 보기만 가능하고 작성자일 경우 수정, 삭제기능이 있습니다.<br>
                게시글마다 Ajax를 통한 '댓글'과 '좋아요' 기능을 가지고 있으며 각 Session ID마다 게시글에 대한 좋아요 Check상태를 확인하고 좋아요/취소 기능이 작동합니다.<br>
                댓글란 하단부분에는 Sequence를 가져와 이전글 다음글 보기(페이지 이동)가 가능하도록 하였습니다.
                <br><br>
            </div>

        </div>
    </div>

    <script src="./components/detail/detail.js"></script>
