<div class="section sec-portfolio">
    <div class="item item-portfolio" id="people">
        <div class="title">
            소모임<br/>
            사교 커뮤니티
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="travel">
        <div class="title">
            HoneyJam<br/>
            여행정보 커뮤니티
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="musiculture">
        <div class="title">
            MusiCulture<br/>
            버스킹 음악/자선기부활동
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
</div>

<script src="./components/portfolio/portfolio.js"></script>
